.navbar {
  background: #01a860;
  width: 100%;
  top: 0;
  z-index: 3;
  position: fixed;
  transition: all 0.4s;
  height: 72px;
}

.navbar > div {
  height: 100%;
  z-index: 3;
  display: flex;
  justify-content: space-around;
}

.navbarnone {
  top: -72px;
}

.innerMenu {
  top: 72px;
  width: 100%;
  z-index: 2;
  position: fixed;
  transition: all 0.4s;
}

.innerMenu > ul {
  width: 100%;
  text-align: center;
}

.innerMenuNone {
  top: -100px;
  visibility: hidden;
}
