/* todo: 색 지워버리기 (컨셉생기지 않는이상) */
.menubarcontainer {
  width: 16vw;
  height: 100vh;
  position: fixed;
}

.menubar {
  width: 16vw;
  height: 80%;
  position: fixed;
  transition: all 0.4s;
  left: 0%;
  text-align: center;
  margin-top: 32px;
  background-color: red;
  z-index: 2;
}

.menubarnone {
  left: -16vw;
}

.menubtn {
  position: fixed;
  z-index: 3;
  margin-top: 16px;
}
